
<%- include('../partials/boilerplate.ejs')  %> 
<div id="matches-index">


<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search By</button>
    <div class="dropdown-menu">
      <a id="all" class="dropdown-item" >All</a>
      <a id="wins" class="dropdown-item">Wins</a>
      <a id="losses" class="dropdown-item" >Losses</a>
      <a id="user-search" class="dropdown-item" href="#">User</a>
      <a id="char-search" class="dropdown-item" href="#">Character</a>
    </div>
  </div>
  <div class="form-inline" id="user-form"  style="width: 50%; display: none;">
    <select data-user="<%=user.username%>" data-opponents="<%=opponents%>" class="form-control" id='opponent' name="opponent"></select>
    <button id="user-input" class="btn btn-outline-primary">Search!</button>
  </div>
  <div class="form-inline" id="char-form"  style="width: 50%; display: none;">
    <select data-chars="<%= chars %>" class="charSelect form-control" required name="user1_char" id="character"></select>
    <button id="char-input" class="btn btn-outline-primary">Search!</button>
  </div>
  
</div>
<div style="margin: 0 auto;" class="matches-container" class="container-fluid">
  <% for (let i = 0; i < 6 && i < matches.length; i++)  { %>
      <% if (user.username == matches[i].user1) { %>
          <% cardChar = matches[i].user1Char %> 
          <% cardUrl = matches[i].url1 %> 
          <% cardOpponent = matches[i].user2 %> 
         
    <% } else {%>
       <% cardChar = matches[i].user2Char %> 
       <% cardUrl = matches[i].url2 %> 
       <% cardOpponent = matches[i].user1 %>
    <% } %> 
      <div data-char="<%= cardChar %>" data-opponent="<%= cardOpponent %>" data-winner="<%= matches[i].winner %>" data-user="<%= user.username %>" class="card col-2">
          <img class="card-img-top" src="<%= cardUrl %>">
          <div  class="card-body">
              <h5 class="card-title"> <a href="/matches/<%=matches[i].id %>">vs <%= cardOpponent %></a></h5>
              <p class="card-text text-muted"><%= matches[i].date %></p>
          </div>
      </div>
      <% } %> 
</div>

<div class="toCenter">
    <a href="/users"><button class="btn-lg btn-outline-primary">Go Back</button></a>
</div>
</div>
<script src="/main/matchesIndex.js">

</script>
<%- include('../partials/end.ejs')  %>