
<%- include('../partials/boilerplate.ejs')  %> 
<section  style="height: 100vh;" class="container">
    <% if (user == match.winner) { %>
        <h1 style="text-align: center;" >Victory!</h1>
    <% } else { %>
        <h1 style="text-align: center;" >Defeat!</h1>
   <% } %>
   <p style="text-align: center;" class="text-muted"> <%= match.date %>  </p>
    <div id="show-container"   class="container">
        <div class="show-one">
            <div class="card" style="width: 18rem;">
                <img src=" <%= match.url1 %> " class="card-img-top" >
                <div style="padding: .9rem;" class="card-body">
                  <h5 class="card-title"> <%= match.user1Char %>  </h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= match.user1 %></li>
                </ul>
              </div>
        </div>
        <h1>VS</h1>
        <div class="show-two">
            <div class="card" style="width: 18rem;">
                <img src=" <%= match.url2 %> " class="card-img-top show-card" >
                <div style="padding: .9rem;" class="card-body">
                  <h5 class="card-title"> <%= match.user2Char %>  </h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= match.user2 %></li>
                </ul>
              </div>
        </div>
    </div>
    <div class="show-buttons">
        <form action="/matches/<%= match.id %>?_method=DELETE" method='POST' >
          <button class="btn  btn-outline-danger">Delete</button>
        </form>
        <a href="/matches"><button class="btn btn-outline-primary">Go back</button></a>
    </div>
</section>
<%- include('../partials/end.ejs')  %>